<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
</head>
<body>
  <h2>Long and Short URL's:</h2>
  <% for (var i in URLlist) { %>
    <p><%= URLlist[i].longURL %></p>
    <p><%= URLlist[i].shortURL %></p>
    <form method="POST" action="/urls/<%=URLlist[i].shortURL%>?_method=DELETE"><button name ="delete" type = "submit">Delete</button></form>
  <% } %>
</body>
</html>