<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_header %>
</head>
<body>
  <h1>URLS</h1>
  <% for (var i in urls) { %>
    <p><%= urls[i] %></p>
    <form method="POST" action="/urls/<%=i%>?_method=DELETE"><button name ="delete" type = "submit">Delete</button></form>
  <% } %>
</body>
</html>