<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <h1><center>SHORT URLS: <%= shortURL %> </center></h1>
  <form action="/urls/<%=shortURL%>?_method=PUT"" method="POST" style="margin:20px;"><center>
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Update" onsubmit="DoSubmit()">
    </center></form>
</body>
</html>